@import './Normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

$color1: #f5f5f5;
$needApproval: #f7bf38;
$scheduled: #3ac183;
$published: #acacac;
$error: #fb6450;
$notes: #67b1f2;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

body {
  font-size: 2rem;
}

.App {
  @include flexCenter();
  width: 153.8rem;
  height: 120.6rem;
  background-color: #f5f7f8;
}
.navigation {
  width: 27.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  .sociality-logo {
    width: 100%;
    height: 5.1rem;
    background-color: #31363b;
    @include flexCenter();
  }

  .navigation-bottom {
    display: flex;
    height: 100%;
  }
  .client-logos {
    width: 6.6rem;
    height: 100%;
    background-color: #2a2f33;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-top: 1.3rem;
    }
  }

  .menu {
    width: 20.8rem;
    height: 100%;
    background-color: #393d42;

    .menuTop {
      background-color: transparent;
      border: none;
      width: 100%;
      height: 5.7rem;
      color: #d8d8d8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 1rem;

      .content {
        width: 100%;
        font-size: 1.4rem;
      }
      img {
        margin: 0 1.3rem;
        span + span {
          color: black;
          font-size: 5rem;
          font-weight: 100;
        }
      }
    }

    .subMenu {
      flex-direction: column;
      display: none;
      align-items: left;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-left: 1rem;

      div {
        color: #d8d8d8;
        margin: 1rem;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        &::before {
          content: '\2022';
          color: #d8d8d8;
          margin-right: 1rem;
          font-size: 3rem;
          text-align: center;
        }

        &:hover {
          color: #f55661;
          &::before {
            color: #f55661;
          }
        }
      }
    }

    .selectedMenu {
      .menuTop {
        background-color: #f55661;

        span + span {
          color: #2a2f33;
        }
      }

      .subMenu {
        display: flex;
      }
    }
  }
}

.main {
  width: 100%;
  height: 100%;
  padding: 2.5rem;

  .mainTop {
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    .pp {
      width: 50%;
      display: flex;
      justify-content: right;
      img {
        height: 6rem;
        margin-right: -3rem;
        margin-top: 0.5rem;
      }
    }
  }

  .descriptions {
    display: flex;
    height: 2rem;
    font-size: 1.5rem;
    align-items: center;

    div {
      margin: 1rem;
      display: flex;
      align-items: center;
    }
    div::before {
      font-size: 5rem;
      content: '\2022';
      margin-right: 1rem;
    }

    :nth-child(1)::before {
      color: $published;
    }
    :nth-child(2)::before {
      color: $scheduled;
    }
    :nth-child(3)::before {
      color: $needApproval;
    }
    :nth-child(4)::before {
      color: $error;
    }
    :nth-child(5)::before {
      color: $notes;
    }
  }

  .divByDate {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    color: #959595;

    .date {
      font-family: 'Barlow Semi Condensed', sans-serif;
      font-size: 2.2rem;
    }
  }

  .cardsArea {
    display: flex;
  }
}

.card {
  width: 36.9rem;
  height: 44.6rem;
  background-color: #ffffff;
  display: flex;
  font-size: 1.4rem;
  font-family: Helvetica, Arial;
  color: #959595;
  margin-top: 1rem;
  .cardLeftBar {
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      color: white;
    }
  }

  .status0 {
    background-color: $needApproval;
  }

  .status1 {
    background-color: $scheduled;
  }
  .status2 {
    background-color: $published;
  }

  .status3 {
    background-color: $published;
  }
  .status4 {
    background-color: $error;
  }

  .cardRightArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;

    .cardTopActions {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .cardActions {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;

        svg {
          opacity: 0.5;
          margin: 0 0.5rem;
        }
      }
    }

    img {
      width: 100%;
    }

    .cardBottomActions {
      display: flex;
      align-items: center;
      justify-content: left;
      width: 100%;
      div + div {
        margin-left: 2rem;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 15%;

        svg {
          opacity: 0.5;
        }
      }
    }
  }
}

.card + .card {
  margin-left: 3rem;
}
