@charset "UTF-8";
@import './Normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 2rem;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153.8rem;
  height: 120.6rem;
  background-color: #f5f7f8;
}

.navigation {
  width: 27.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navigation .sociality-logo {
  width: 100%;
  height: 5.1rem;
  background-color: #31363b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation .navigation-bottom {
  display: flex;
  height: 100%;
}
.navigation .client-logos {
  width: 6.6rem;
  height: 100%;
  background-color: #2a2f33;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation .client-logos span {
  font-size: 1.1rem;
  color: #fff;
  background-color: #3ac1a9;
  border-radius: 100%;
  position: absolute;
  padding: 0.1rem;
  right: 0;
  top: 0;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  display: none;
}
.navigation .client-logos :nth-child(2) span {
  display: block;
}
.navigation .client-logos div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.3rem;
  position: relative;
}
.navigation .client-logos div img {
  opacity: 0.25;
}
.navigation .client-logos div img:hover {
  opacity: 0.5;
  cursor: pointer;
}
.navigation .client-logos .clientLocation {
  border-left: 0.4rem solid #f55661;
  border-top: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  height: 3.7rem;
  width: 0;
  margin-top: 0;
  margin-right: 1rem;
  margin-left: -1.2rem;
  display: none;
}
.navigation .selectedClient img {
  opacity: 1 !important;
}
.navigation .selectedClient .clientLocation {
  display: block;
}
.navigation .menu {
  width: 20.8rem;
  height: 100%;
  background-color: #393d42;
}
.navigation .menu .menuTop {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 5.7rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-right: 1rem;
}
.navigation .menu .menuTop:hover {
  background-color: #31363b;
  cursor: pointer;
}
.navigation .menu .menuTop .content {
  width: 100%;
  font-size: 1.4rem;
}
.navigation .menu .menuTop img {
  margin: 0 1.3rem;
}
.navigation .menu .menuTop img span + span {
  color: black;
  font-size: 5rem;
  font-weight: 100;
}
.navigation .menu .menuTop .plus {
  margin-right: 1rem;
  font-size: 4rem;
  font-weight: 100;
  color: #1d1d1d;
}
.navigation .menu .menuTop .notifCount {
  font-size: 1.2rem;
  width: 22%;
  margin-right: 0.5rem;
  border: 1px solid #73d9c7;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation .menu .subMenu {
  flex-direction: column;
  display: none;
  align-items: left;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 1rem;
}
.navigation .menu .subMenu div {
  color: #d8d8d8;
  margin: 1rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.navigation .menu .subMenu div::before {
  content: "•";
  color: #d8d8d8;
  margin-right: 1rem;
  font-size: 3rem;
  text-align: center;
}
.navigation .menu .subMenu div:hover {
  color: #f55661;
  cursor: pointer;
}
.navigation .menu .subMenu div:hover::before {
  color: #f55661;
}
.navigation .menu .selectedMenu .menuTop {
  background-color: #f55661;
}
.navigation .menu .selectedMenu .menuTop span + span {
  color: #2a2f33;
}
.navigation .menu .selectedMenu .subMenu {
  display: flex;
}
.navigation .menu .selectedMenu .triangle {
  display: flex;
}
.navigation .menu .selectedMenu img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(352deg) brightness(104%) contrast(101%);
  background-color: transparent;
}

.main {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
}
.main .mainTop {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
}
.main .mainTop .pp {
  width: 50%;
  display: flex;
  justify-content: right;
}
.main .mainTop .pp img {
  height: 6rem;
  margin-right: -3rem;
  margin-top: 0.5rem;
}
.main .descriptions {
  display: flex;
  height: 2rem;
  font-size: 1.5rem;
  align-items: center;
}
.main .descriptions div {
  margin: 1rem;
  display: flex;
  align-items: center;
}
.main .descriptions div::before {
  font-size: 5rem;
  content: "•";
  margin-right: 1rem;
}
.main .descriptions :nth-child(1)::before {
  color: #acacac;
}
.main .descriptions :nth-child(2)::before {
  color: #3ac183;
}
.main .descriptions :nth-child(3)::before {
  color: #f7bf38;
}
.main .descriptions :nth-child(4)::before {
  color: #fb6450;
}
.main .descriptions :nth-child(5)::before {
  color: #67b1f2;
}
.main .divByDate {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  color: #959595;
}
.main .divByDate .date {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2.2rem;
}
.main .cardsArea {
  display: flex;
}

.card {
  width: 36.9rem;
  height: 44.6rem;
  background-color: #ffffff;
  display: flex;
  font-size: 1.4rem;
  font-family: Helvetica, Arial;
  color: #959595;
  margin-top: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
.card .cardLeftBar {
  width: 4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem 0 0 0.5rem;
}
.card .cardLeftBar svg {
  color: white;
}
.card .status0 {
  background-color: #f7bf38;
}
.card .status1 {
  background-color: #3ac183;
}
.card .status2 {
  background-color: #acacac;
}
.card .status3 {
  background-color: #acacac;
}
.card .status4 {
  background-color: #fb6450;
}
.card .cardRightArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
}
.card .cardRightArea .cardTopActions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}
.card .cardRightArea .cardTopActions .cardActions {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: auto;
}
.card .cardRightArea .cardTopActions .cardActions svg {
  opacity: 0.5;
  margin: 0 0.5rem;
}
.card .cardRightArea .cardTopActions .cardActions svg:hover {
  opacity: 1;
  cursor: pointer;
}
.card .cardRightArea img {
  width: 100%;
}
.card .cardRightArea .cardBottomActions {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: left;
  width: 100%;
}
.card .cardRightArea .cardBottomActions div + div {
  margin-left: 2rem;
}
.card .cardRightArea .cardBottomActions div {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 15%;
}
.card .cardRightArea .cardBottomActions div svg {
  opacity: 0.5;
}
.card .cardRightArea .cardBottomActions div svg:hover {
  opacity: 1;
  cursor: pointer;
}

.card + .card {
  margin-left: 3rem;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-top: 0.5rem solid #f55661;
  margin-left: 2.2rem;
  display: none;
}/*# sourceMappingURL=App.css.map */